.inner-content{
    
    box-shadow: 2px 2px 5px rgb(201, 199, 199);
    padding:20px;
    box-sizing:border-box;
}

.toph1{
    word-spacing: 2px;
    font-weight:700;

}
.titles{
    font-size: 20px;
    font-weight: 700;
    margin-bottom:8px;
    color:#1f2836;
}
.subtitles{

    color: #4D525B;
    margin-bottom:10px;
}

.input-cus, #project-textarea,select{
    font-size:20px;
    height:46px;
    padding:0 16px;
    line-height : 1.43;
    border:1px solid #bec0c2;
    border-radius:3px;
    color: #1f2836;
    transition: all .1s linear;
    width:100%;
}
#project-textarea{
    font-size:16px;
    min-height: 150px;
    padding:10px 15px;
    max-width: 100%;
}


#upload-button{
    border:1px solid #bec0c2;
    border-radius:3px;
    padding:5px 10px; 
    background-color:white;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-bottom:15px;
}
.btn{
    padding:10px 20px;
    font-size:20px;
    
}
