.inner-container{
    background-color: rgb(250, 252, 252);
    border: 1px solid black;
    padding:15px;
    box-sizing: border-box;
    border-radius:3px;
    box-shadow: 2px 2px 5px rgb(196, 196, 196);
    
}
.job-title{
    font-size:25px;
    margin:5px;
    text-transform: uppercase;
    
    
}
.job-org{
    
    font-size:20px;
    color:tomato;
    letter-spacing: 1px;
    margin-bottom: 5px;
    
}
.skills, .description, .location, .experience, .salary, .duration, .contact{
    margin-bottom:10px;
    font-size: 18px;
    color:#706f78;
    
}

.custom-apply-btn, .custom-cancel-btn{
    margin:10px 0;
    width:100%;
    padding:5px 20px;
    transition: all 0.2s ease;
    
}
.custom-apply-btn:hover{
   color: #337ab7;
   background-color:white;
   border-color:#337ab7;
}
.custom-cancel-btn:hover{
    color: #d9534f;
    background-color:white;
    border-color: #d9534f;
}